{# -*- coding: utf-8 -*- #}

{% macro html_footer() %}
    {% if content_footer %}
    <div class="ui grid">
        <div class="computer only tablet only three wide column">
        </div>
        <div class="computer only tablet only ten wide column">
            <div class="ui basic center aligned segment">{{ content_footer }}</div>
        </div>
        <div class="mobile only sixteen wide column">
            <div class="ui basic center aligned segment">{{ content_footer }}</div>
        </div>
        <div class="computer only tablet only three wide column">
        </div>
    </div>
    {% endif %}
{% endmacro %}
