{# -*- coding: utf-8 -*- #}

{% extends 'base.tmpl' %}
{% import 'pagination_helper.tmpl' as pagination with context %}

{% block extra_head %}
    {{ super() }}
    {% if posts and (permalink == '/' or permalink == '/' + index_file) %}
        <link rel="prefetch" href="{{ posts[0].permalink() }}" type="text/html">
    {% endif %}
{% endblock extra_head %}

{% macro before_content() %}
    {% if 'main_index' in pagekind and is_frontmost_index and featured %}
    <div class="index-featured">
        <div class="ui stackable grid">
                <div class="eight wide column">
                    <div class="ui blurring segment">
                    {% if featured[0].previewimage %}
                        <div class="ui fluid imgage">
                            <img src="{{ featured[0].previewimage }}" alt="{{featured[0].title() }}">
                        </div>
                    {% else %}
                        <p>{{ featured[0].text(teaser_only=True, strip_html=True)|truncate() }}</p>
                    {% endif %}
                    <div class="ui active dimmer">
                        <div class="content">
                            <h2 class="ui inverted header"><a href="{{ featured[0].permalink() }}">{{ featured[0].title() }}</a></h2>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="ui blurring segment">
                    {% if featured|length < 2 %}
                        {% set second_post = posts|random %}
                    {% else %}
                        {% set second_post = featured[1] %}
                    {% endif %}
                    {% if second_post.previewimage %}
                        <div class="ui fluid imgage">
                            <img src="{{ second_post.previewimage }}" alt="{{second_post.title() }}">
                        </div>
                    {% else %}
                        <p>{{ second_post.text(teaser_only=True, strip_html=True)|truncate() }}</p>
                    {% endif %}
                        <div class="ui active dimmer">
                            <div class="content">
                                <h2 class="ui inverted header"><a href="{{ second_post.permalink() }}">{{ second_post.title() }}</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    {% endif %}
{% endmacro %}

{% block main_content %}
    <div class="postindex page-body">
    {{ before_content() }}
    {% for post in posts %}
    <div class="post-entry post-{{ post.meta('type') }}">
        <div class="entry-title">
            <a href="{{ post.permalink() }}">{{ post.title()|e }}</a>
        </div>
        <div class="ui large horizontal link list post-meta">
            <span class="item">By
            {% if author_pages_generated %}
                <a href="{{ _link('author', post.author()) }}">{{ post.author()|e }}</a>
            {% else %}
                {{ post.author()|e }}
            {% endif %}
            </span>
            <span class="item">
                <time datetime="{{ post.formatted_date('webiso') }}">
                {{ post.formatted_date(date_format)|e }}
                </time>
            </span>
            <span class="item">{{ post.reading_time }} MIN READ</span>
        </div>
        <div class="post-summary">
            {% if index_teasers %}
                {{ post.text(teaser_only=True) }}
            {% else %}
                {{ post.text(teaser_only=False) }}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>

    {% if page_links %}
        {{ pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed, surrounding=5) }}
    {% endif %}
{% endblock main_content %}
