{# -*- coding: utf-8 -*- #}

{% import 'math_helper.tmpl' as math with context %}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% extends 'base.tmpl' %}

{% block extra_head %}
    {{ super() }}
    {% if post.meta('keywords') %}
    <meta name="keywords" content="{{ post.meta('keywords')|e }}">
    {% endif %}
    <meta name="author" content="{{ post.author()|e }}">
    {% if post.is_draft %}
        <meta name="robots" content="noindex">
    {% endif %}
    {{ helper.open_graph_metadata(post) }}
    {{ helper.twitter_card_information(post) }}
    {{ helper.meta_translations(post) }}
    {% if not post.meta('nocomments') %}
    <link rel="stylesheet" href="/assets/css/gitalk.css">
    {% endif %}
    {{ math.math_styles_ifpost(post) }}

{% endblock %}

{% block main_content %}
{% set github_prefix = "https://github.com/macplay/macplay.github.io/edit/src/" %}
<div class="postpage post-{{ post.meta('type') }} page-body" itemscope="itemscope" itemtype="http://schema.org/Article">
    {{ pheader.html_post_header() }}
    {{ pheader.html_translations(post) }}
    <div class="post-content" itemprop="article text">
        {% if not post.meta('password') %}
        <div class="ui fixed sticky" id="edit-btn">
            <a class="ui white right ribbon label" href="{{ github_prefix + post.source_path }}" title="Edit on GitHub">Edit</a>
        </div>
        {% endif %}
        <div id="post-content">
        {{ post.text() }}
        </div>
    </div>
    {{ helper.html_pager(post) }}
    {% if not post.meta('nocomments') %}
        <div id="gitalk-container" class="comments-block"></div>
    {% else %}
        <div class="no-comments-block">
            No Comments Allowed.
        <div>
    {% endif %}
</div>
{% endblock main_content %}

{% block extra_js %}
    {{ math.math_scripts_ifpost(post) }}
    {% if not post.meta('nocomments') %}
    <script src="/assets/js/gitalk.min.js"></script>
    <script>
        $(".ui.sticky").sticky({
            context: '#post-content',
        });
        const gitalk = new Gitalk({
            clientID: '12fcda845097d895a24c',
            clientSecret: '50ed60cde5f40897205197b4265b474cefbedc49',
            repo: 'macplay.github.io',
            owner: 'macplay',
            admin: ['macplay', 'ashfinal'],
            // facebook-like distraction free mode
            distractionFreeMode: false
        })
        gitalk.render('gitalk-container')
    </script>
    {% endif %}
{% endblock extra_js %}
