{#  -*- coding: utf-8 -*- #}

{% extends 'index.tmpl' %}
{% import 'pagination_helper.tmpl' as pagination with context %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block main_content %}
    <div class="tagpage page-body">
        <div class="tag-title">{{ title|e }}</div>
        <div class="author-description">
            {% if description %}
                <p>{{ description }}</p>
            {% endif %}
        </div>
        <div class="tag-rssfeed">
            {{ feeds_translations.feed_link(tag, kind) }}
        </div>
        {% if posts %}
        <div class="tag-postlist">
            {% for post in posts %}
            <div class="ui vertical segment postitem">
                <p>
                    <a href="{{ post.permalink() }}">{{ post.title()|e }}</a>
                    {% if post.translated_to|length > 1 %}
                        <span>[</span>
                        {% for langname in translations|sort %}
                            {% if langname != lang and post.is_translation_available(langname) %}
                            <span><a href="{{ post.permalink(langname) }}" rel="alternate" hreflang="{{ langname }}">{{ messages("LANGUAGE", langname) }}</a></span>
                            {% endif %}
                        {% endfor %}
                        <span>]</span>
                    {% endif %}
                </p>
                <div class="ui large horizontal link list post-meta">
                    {% if not post.meta('password') and edit_prefix %}
                        <span class="item">
                            <a href="{{ edit_prefix + post.source_path }}" target="_blank" title="Edit on GitHub">Edit</a>
                        </span>
                    {% endif %}
                    <span class="item">By
                    {% if author_pages_generated %}
                        <a href="{{ _link('author', post.author()) }}">{{ post.author()|e }}</a>
                    {% else %}
                        {{ post.author()|e }}
                    {% endif %}
                    </span>
                    <span class="item">
                        <time datetime="{{ post.formatted_updated('webiso') }}">
                        {{ post.formatted_updated(date_format)|e }}
                        </time>
                    </span>
                    {% if post.tags %}
                        <span class="item">
                        {% for tag in post.tags %}
                            {% if tag not in hidden_tags %}
                                <a href="{{ _link('tag', tag) }}">{{ tag|e }}</a>
                            {% endif %}
                        {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% if page_links and page_links|length > 1 %}
        {{ pagination.page_navigation(current_page, page_links, prevlink, nextlink, prev_next_links_reversed, surrounding=5) }}
    {% endif %}
{% endblock %}
