#
# NetSurf build configuration example
#
#
# To configure NetSurf's build options create a Makefile.config file. This is
# an example Makefile.config.
#
# To see the available config options, look at Makefile.defaults, but make any
# alterations in your Makefile.config

### To enable/disable PNG support, uncomment the appropriate line below.
# override NETSURF_USE_PNG := YES
# override NETSURF_USE_PNG := NO

### To enable/disable SVGTiny support, uncomment the appropriate line below.
# override NETSURF_USE_NSSVG := YES
# override NETSURF_USE_NSSVG := NO

### To enable/disable RSVG support, uncomment the appropriate line below.
# override NETSURF_USE_RSVG := YES
# override NETSURF_USE_RSVG := NO

### To enable/disable BMP support, uncomment the appropriate line below.
# override NETSURF_USE_BMP := YES
# override NETSURF_USE_BMP := NO

### To make the framebuffer front end use freetype for text, uncomment the
### following line
override NETSURF_FB_FONTLIB := freetype

### To disable JavaScript support, uncomment the appropriate line below.
# override NETSURF_USE_DUKTAPE := NO

### To change flags to javascript binding generator
# GBFLAGS:=-g

# Enable NetSurf's use of gstreamer for displaying videos
# Valid options: YES, NO
# override NETSURF_USE_VIDEO := YES

# Set default GTK version to build for (2 or 3)
override NETSURF_GTK_MAJOR ?= 3

# freetype compiled in font serch path
override NETSURF_FB_FONTPATH := /usr/share/fonts/noto:/usr/share/fonts/TTF:/usr/share/fonts/noto-cjk

# Default freetype font files
# override NETSURF_FB_FONT_SANS_SERIF := NotoSansCJK-Regular.ttc
# override NETSURF_FB_FONT_SANS_SERIF_BOLD := NotoSansCJK-Bold.ttc
# override NETSURF_FB_FONT_SANS_SERIF_ITALIC := NotoSansCJK-DemiLight.ttc
# override NETSURF_FB_FONT_SANS_SERIF_ITALIC_BOLD := NotoSansCJK-Medium.ttc
# override NETSURF_FB_FONT_SERIF := NotoSerifCJK-Regular.ttc
# override NETSURF_FB_FONT_SERIF_BOLD := NotoSerifCJK-Black.ttc
# override NETSURF_FB_FONT_MONOSPACE := NotoSansMono-Regular.ttf
# override NETSURF_FB_FONT_MONOSPACE_BOLD := NotoSansMono-Bold.ttf
# override NETSURF_FB_FONT_CURSIVE := comic.ttf
# override NETSURF_FB_FONT_FANTASY := impact.ttf
# Using Noto fonts some characters may could not display, and I cann't figure out WHY.
override NETSURF_FB_FONT_SANS_SERIF := Unifont.ttf
override NETSURF_FB_FONT_SANS_SERIF_BOLD := Unifont.ttf
override NETSURF_FB_FONT_SANS_SERIF_ITALIC := Unifont.ttf
override NETSURF_FB_FONT_SANS_SERIF_ITALIC_BOLD := Unifont.ttf
override NETSURF_FB_FONT_SERIF := Unifont.ttf
override NETSURF_FB_FONT_SERIF_BOLD := Unifont.ttf
override NETSURF_FB_FONT_MONOSPACE := Unifont.ttf
override NETSURF_FB_FONT_MONOSPACE_BOLD := Unifont.ttf
override NETSURF_FB_FONT_CURSIVE := comic.ttf
override NETSURF_FB_FONT_FANTASY := impact.ttf

